/* label{
    vertical-align: inherit;
} */

.main-contact-div{
    
    background-color: rgba(92, 117, 146,0.9);
    margin: 80px;
    
}
.colorBLue{
    color:#223142!important;
}
.colorW{
    color: whitesmoke !important;
}
textarea{
    height: 300px;
}
.bg-green{
    background-color: #6ECCAF ;
    color: #344D67;
    border-radius: 0.375rem;
}
.text-send{
    font-size: 1.5em;
    
}