.containerHeader{
    height: 100vh;
}

.container {
    background-color: #ffffffe6;
    padding: 30px;
    margin: 20%;
    height: 600px;
    width: 600px;
    color: #344d67;
}
.botones{
    width: 113px;
    text-align: center;
}
