.cards-section{
    justify-content: center; 
    padding: 20px;
    margin: 20px;
}

.section{
 text-align: center;
 background-color: aquamarine;
 padding: 15px;
}
.collapse:not(.show) {
    display: flex;
}

@media(max-width:800px){
    h2{
        color:#6ECCAF ;
    }
  
    .collapse:not(.show) {
        display: none;
    }
}