/* .cardSection{
    width: 20rem;
    justify-content: center;
    padding: 5px;
    background-color: #2e4863;
    color: #6Eccaf;
   } */

/* .alert{
    background-color:#6ECCAF;
    color:  #344d67;
} */


.cards-section{
    justify-content: center;
    
}