.btn-inicio{
    background-color: #344d67;
    color: #6eccaf;
    padding: 15px;
    margin: 10px;
    width: 113px;
    text-align: center;
}
/* .botones{
    background-color:#344D67!important;
}
.botones:hover, .boton:hover, .btn-active{
    background-color: #6ECCAF !important;
    color: #344D67!important;
    width: fit-content;
    
} */